body {

display: grid;
overflow: hidden;
place-items: center;
min-height: 100vh;


}
svg{

overflow: visible;
width: 80vmin;

}
path{

  color: transparent;
  background-color: transparent;
  display: none;
}