body {
  background: linear-gradient(90deg, #ffffff, #9fffe5, #e8fffa);
  background-size: 500% 600%;
  -webkit-animation: Gradient 20s ease infinite;
  -moz-animation: Gradient 20s ease infinite;
  animation: Gradient 20s ease infinite;
}

@keyframes Gradient {
  0% { background-position: 0% 100%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 70%; }
}



body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


svg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


svg {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center bottom; /* Set the transform origin to the bottom center */
  transition: transform 1s ease-in-out; /* Use ease-in-out timing function */
}

svg:hover {
  transform: scaleY(10); /* Double the height of the SVG when hovering */
} 
